* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226deg, 43%, 10%);
}

main,
section {
  padding: 1em 1em;
  max-width: 800px;
  margin: 0 auto;
}

main .user-section {
  background-color: hsl(246deg, 80%, 60%);
  padding: 2em 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  margin-bottom: -1em;
  position: relative;
}
main .user-section .user-photo img {
  width: 80px;
  border-color: #fff;
  border-width: 0.3em;
  border-style: solid;
  border-radius: 100%;
}
main .user-section .report-for {
  color: hsl(236deg, 100%, 87%);
  font-weight: 400;
  margin-bottom: 0.4em;
  font-size: 1rem;
}
main .user-section .user-name {
  color: hsl(0deg, 0%, 100%);
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
main .time-stamp {
  background-color: hsl(235deg, 46%, 20%);
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
main .time-stamp .time-stamp-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  color: hsl(235deg, 45%, 61%);
  font-size: 1.3rem;
}
main .time-stamp .time-stamp-list li:hover {
  color: #fff;
  transition: 0.8s;
}

.wrapper div {
  padding-top: 1em;
  padding-bottom: 1em;
}

div .work-bg {
  background-image: url(/images/icon-work.svg);
  background-color: hsl(15deg, 100%, 70%);
}
div .play-bg {
  background-image: url(/images/icon-play.svg);
  background-color: hsl(195deg, 74%, 62%);
}
div .study-bg {
  background-image: url(/images/icon-study.svg);
  background-color: hsl(348deg, 100%, 68%);
}
div .exercise-bg {
  background-image: url(/images/icon-exercise.svg);
  background-color: hsl(145deg, 58%, 55%);
}
div .social-bg {
  background-image: url(/images/icon-social.svg);
  background-color: hsl(264deg, 64%, 52%);
}
div .selfcare-bg {
  background-image: url(/images/icon-self-care.svg);
  background-color: hsl(43deg, 84%, 65%);
}
div .card-header {
  padding: 2em;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-position: bottom 40% right 5%;
}
div .card-details {
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -1.5em;
  transition: 0.7s;
}
div .card-details:hover {
  background-color: hsl(235deg, 45%, 61%);
  transition: 0.7s;
}
div .card-details .details-left {
  color: #fff;
}
div .card-details .details-left .activity-type {
  font-size: 1.125rem;
}
div .card-details .details-left .activity-time {
  font-size: 2.125rem;
  font-weight: 300;
  margin-top: 0;
}
div .card-details .details-right {
  text-align: right;
  color: hsl(236deg, 100%, 87%);
}
div .card-details .details-right .ellipsis-svg {
  width: 25px;
  fill: #bdc1ff;
}
div .card-details .details-right .ellipsis-img {
  width: 25px;
}
div .card-details .details-right .activity-last-time {
  margin-top: 1.5em;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
@media (min-width: 992px) {
  body {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
  }
  body main .user-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.25em 1em;
  }
  body main .user-section .user-photo {
    margin-left: 1em;
  }
  body main .user-section .user-data {
    width: 90%;
    margin-left: 1em;
  }
  body main .user-section .user-data .user-name {
    font-size: 2rem;
  }
  body main .time-stamp .time-stamp-list {
    flex-direction: column;
    margin-left: 1.5em;
    gap: 1em;
  }
  body section#results {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  body section#results .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */